/* ENABLE STYLE SETTINGS
*/
/*
@settings

name: Moonstone Theme Settings
id: moonstone-settings
settings:
  -
    id: heading-fonts
    title: Fonts
    type: heading
    level: 1
    collapsed: true
  -
    id: default-font
    title: Base Font
    type: variable-text
    default: '"Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif'
  -
    id: mermaid-font
    title: Mermaid Font
    type: variable-text
    default: '"Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif'
  -
    id: reveal-font
    title: Reveal Font
    type: variable-text
    default: '"Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif'
  -
    id: font-monospace
    title: Monospace Font
    description: Used for codeblocks, tables, etc.
    type: variable-text
    default: '"Source Code Pro", monospace'

  -
    id: heading-colors-background
    title: Background Colors
    type: heading
    level: 1
    collapsed: true
  -
    id: background-primary
    title: Background Primary
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#ffffff'
    default-dark: '#202020'
  -
    id: background-primary-alt
    title: Background Primary (alt)
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#f5f6f8'
    default-dark: '#1a1a1a'
  -
    id: background-secondary
    title: Background Secondary
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#f2f3f5'
    default-dark: '#161616'
  -
    id: background-secondary-alt
    title: Background Secondary (alt)
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#e3e5e8'
    default-dark: '#000000'
  -
    id: background-modifier-border
    title: 'Background Modifier: Border'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#dddddd'
    default-dark: '#333333'
  -
    id: background-modifier-form-field
    title: 'Background Modifier: Form Field'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#ffffffff'
    default-dark: '#0000004d'
  -
    id: background-modifier-form-field-highlighted
    title: 'Background Modifier: Form Field (highlighted)'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#ffffffff'
    default-dark: '#00000038'
  -
    id: background-modifier-box-shadow
    title: 'Background Modifier: Box Shadow'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#0000001a'
    default-dark: '#0000004d'
  -
    id: background-modifier-success
    title: 'Background Modifier: Success'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#A4E7C3'
    default-dark: '#197300'
  -
    id: background-modifier-error
    title: 'Background Modifier: Error'
    type: variable-themed-color
    opacity: false
    format: hex
    alt-format:
      -
        id: background-modifier-error-rgb
        format: rgb-values
        default-light: '#990000'
        default-dark: '#3d0000'
  -
    id: background-modifier-error-hover
    title: 'Background Modifier: Error (hover)'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#bb0000'
    default-dark: '#470000'
  -
    id: background-modifier-cover
    title: 'Background Modifier: Cover'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#000000cc'
    default-dark: '#000000cc'

  - 
    id: heading-colors-text
    title: Text Colors
    type: heading
    level: 1
    collapsed: true
  -
    id: text-accent
    title: 'Text: Accent'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#705dcf'
    default-dark: '#7f6df2'
  -
    id: text-accent-hover
    title: 'Text: Accent (hover)'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#7a6ae6'
    default-dark: '#8875ff'
  -
    id: text-normal
    title: 'Text: Normal'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#2e3338'
    default-dark: '#dcddde'
  -
    id: text-muted
    title: 'Text: Muted'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#888888'
    default-dark: '#999999'
  -
    id: text-faint
    title: 'Text: Faint'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#999999'
    default-dark: '#666666'
  -
    id: text-error
    title: 'Text: Error'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#800000'
    default-dark: '#ff3333'
  -
    id: text-error-hover
    title: 'Text: Error (hover)'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#990000'
    default-dark: '#990000'
  -
    id: text-highlight-bg
    title: 'Text: Highlight Background'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#ffff0066'
    default-dark: '#ffff0066'
  -
    id: text-highlight-bg-active
    title: 'Text: Highlight Background (active)'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#ff800066'
    default-dark: '#ff800066'
  -
    id: text-selection
    title: 'Text: Selection Background'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#cce6fffc'
    default-dark: '#17304dfc'
  -
    id: text-selection
    title: 'Text: On Accent'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#f2f2f2'
    default-dark: '#dcddde'

  -
    id: heading-colors-interactive
    title: Interactive Colors
    type: heading
    level: 1
    collapsed: true
  -
    id: interactive-normal
    title: 'Interactive: Normal'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#f2f3f5'
    default-dark: '#2a2a2a'
  -
    id: interactive-hover
    title: 'Interactive: Hover'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#e9e9e9'
    default-dark: '#303030'
  -
    id: interactive-accent
    title: 'Interactive: Accent'
    type: variable-themed-color
    opacity: false
    format: hex
    alt-format:
      -
        id: interactive-accent-rgb
        format: rgb-values
        default-light: '#7b6cd9'
        default-dark: '#483699'

  -
    id: interactive-accent-hover
    title: 'Interactive: Accent (hover)'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#8273e6'
    default-dark: '#4d3ca6'
  -
    id: interactive-success
    title: 'Interactive: Success'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#197300'
    default-dark: '#197300'

  -
    id: heading-colors-scrollbar
    title: Scrollbar Colors
    type: heading
    level: 1
    collapsed: true
  -
    id: scrollbar-bg
    title: 'Scrollbar: Background'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#0000000d'
    default-dark: '#ffffff0d'
  -
    id: scrollbar-thumb-bg
    title: 'Scrollbar: Thumb Background'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#0000001a'
    default-dark: '#ffffff1a'
  -
    id: scrollbar-active-thumb-bg
    title: 'Scrollbar: Active Thumb Background'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#00000033'
    default-dark: '#ffffff33'
  -
    id: callout-colors
    title: Callout Colors
    type: heading
    level: 1
    collapsed: true
  -
    id: erin-lightred-format
    title: 'Light Red #1'
    type: variable-themed-color
    format: rgb
    alt-format:
      -
        id: erin-lightred
        format: rgb-values
    opacity: false
    default-light: '247, 152, 152'
    default-dark: '247, 152, 152'
*/

/* custom colors */
:root, .theme-dark {
  /* --erin-lightred: 247, 152, 152; */
  --erin-light-red: 251, 200, 200;
  --erin-light-red-two: 235, 160, 172;
  --erin-red: 202, 77, 61;
  --erin-red-two: 243, 139, 168;
  --erin-lightredpink: 251, 200, 230;
  --erin-dark-red: 196, 73, 73;
  --erin-white: 251, 248, 245;
  --erin-tanwhite: 212, 214, 213;
  --erin-light-yellow: 249, 226, 175;
  --erin-red-two: 208, 66, 85;
  --erin-darkred: 78, 21, 21;
  --erin-lightorange: 250, 179, 135;
  --erin-light-orange: 251, 228, 200;
  --erin-lightblue-three: 144, 200, 238;
  --erin-lightbluered: 229, 192, 154;
  --erin-lightorange: 229, 181, 103;
  --erin-orange: 234, 153, 2;
  --erin-orange-two: 213, 118, 52;
  --erin-orange-three: 250, 179, 135;
  --erin-darkorange: 196, 130, 73;
  --erin-orange-bright: 213, 118, 52;
  --erin-lightyellow: 236, 236, 177;
  --erin-light-yellow: 251, 251, 200;
  --erin-yellow: 232, 190, 60;
  --erin-bright-yellow: 230, 230, 100;
  --erin-tan: 249, 179, 135;
  --erin-tan-two: 182, 172, 153;
  --erin-lime: 85, 200, 85;
  --erin-lightgreen: 166, 227, 161;
  --erin-lightgreen-two: 168, 195, 115;
  --erin-lightgreen-three: 222, 251, 200;
  --erin-lightgreen-four: 166, 227, 161;
  --erin-green: 2, 122, 2;
  --erin-darkgreen: 0, 40, 0;
  --erin-dark-green: 73, 196, 111;
  --erin-dark-yellowgreen: 185, 196, 73;
  --erin-bright-blue: 55, 217, 238;
  --erin-dark-blue: 73, 145, 196;
  --erin-dark-bluegreen: 73, 196, 184;
  --erin-light-bluegreen: 200, 251, 238;
  --erin-lightblue-two: 200, 241, 251;
  --erin-teal: 1, 124, 124;
  --erin-light-blue: 36, 185, 240;
  --erin-light-darkblue: 200, 202, 251;
  --erin-lightteal: 123, 215, 215;
  --erin-darkteal: 99, 149, 156;
  --erin-teal-two: 69, 112, 118;
  --erin-lightblue: 148, 226, 213;
  --erin-blue: 100, 100, 211;
  --erin-darkblue: 40, 80, 200;
  --erin-blue-two: 73, 73, 127;
  --erin-blue-three: 172, 218, 234;
  --erin-violet: 238, 130, 238;
  --erin-pink: 245, 182, 192;
  --erin-lightpinkpurple: 223, 200, 251;
  --erin-lightpink-two: 240, 200, 251;
  --erin-lightpink: 248, 202, 208;
  --erin-darkpink: 158, 108, 116;
  --erin-red-two: 208, 66, 85;
  --erin-lightpurple: 226, 156, 226;
  --erin-lightpurple-two: 212, 214, 213;
  --erin-purple: 118, 3, 118;
  --erin-purple-two: 147, 134, 200;
  --erin-darkpurple: 50, 0, 50;
  --erin-dark-purple: 160, 73, 196;
  --erin-dark-purple-two: 116, 73, 196;
  --erin-hotpink: 244, 100, 172;
  --erin-bright-pink: 243, 165, 226;
  --erin-dark-pink-two: 196, 73, 126;
  --erin-dark-pink: 196, 73, 194;
  --erin-magenta: 172, 1, 172;
  --erin-light-purple: 191, 199, 251;
  --erin-palepurple: 203, 166, 247;
  --erin-grey: 112, 107, 107;
  --erin-lightgrey: 216, 216, 216;
  --erin-brown: 100, 72, 72;
  --erin-gold: 216, 184, 1;
  --erin-tan-two: 189, 174, 147;
  --color-accent: #88aedd !important;
  --color-base-30: #000 !important; /* border colors */
  --color-base-00: #121212 !important; /* main tab color */
  --color-base-10: #090909 !important; /* body in callouts */
  --color-base-20: #171717 !important; /* both sidebars */
  --color-base-25: rgb(82, 82, 82) !important; /* search box */
  --color-base-35: rgb(82, 81, 81) !important; /* border between tabs */
  --color-base-40: #070404 !important; /* border color */
  --color-base-50: rgb(156, 156, 156) !important;
  --color-base-70: rgb(90, 90, 90) !important; /* description text */
  --color-base-100: rgb(216, 216, 216) !important; /* font color */
  --checkbox-color: rgb(174, 212, 234) !important;
  --bold-color: rgb(64, 116, 200) !important;
  --italic-color: #88aedd !important;
  --text-normal: #e6ebf8 !important;
  --h1-color: #88aedd;
  --h2-color: rgb(64, 116, 200);
  --h3-color: #4484c4;
  --h4-color: #869eda;
  --h5-color: #6c89a0;
  --h6-color: rgb(174, 212, 234);
  --tag-color: rgb(64, 116, 200);
  --link-color: rgb(174, 212, 234);
  --link-internal-color: #4484c4 !important;
  --text-highlight-bg: #406a8d;
  --background-modifier-error: rgb(34, 91, 101);
  --background-modifier-error-hover: var(--h4-color);
}

/*
calendar plugin stylings
author: sailKite
source: https://discord.com/channels/686053708261228577/702656734631821413/1168178314318458980
*/

.container#calendar-container .calendar {  
  & > :is(thead, tbody) > tr {
    & > :is(th, td) {
      border-right: 1px solid rgb(165, 165, 165);

      &:nth-child(1) {
          color: rgb(165, 165, 165);
      }
      &:nth-child(2) {
          color: rgb(170, 170, 170);
        }
      &:nth-child(3) {
          color: rgb(161, 161, 160);
      }
      &:nth-child(4) {
          color: rgb(159, 159, 159);
      }
      &:nth-child(5) {
          color: rgb(132, 131, 131);
      }
      &:nth-child(6) {
          color: rgb(141, 140, 142);
      }
      &:nth-child(7), &:nth-child(8) {
          color: rgb(154, 152, 154);
      }
      &:last-child {
        border-right: none;
      }
    }
  
    & > :is(th, td):is(:nth-child(2), :last-child) {
      background-color: #272727;
    }
  }

  & > thead > tr,
  & > tbody > tr:nth-child(odd) {
    background-color: #3e3e3e;
  }

  & > tbody > tr > :is(th, td):is(:nth-child(2), :last-of-type) {
    background-color: #272727;
    color: rgb(165, 165, 165);
  }
}

.week-num.svelte-egt0yd {
  color: rgb(170, 170, 170) !important;
}

.filled.svelte-1widvzq {
  --color-dot: rgb(162, 170, 193);
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  padding: 10px;
  text-indent: -10px !important;
  --blockquote-background-color: #0d1a24;
  --blockquote-color: var(--color-base-50);
  --blockquote-style: italic;
  border-radius: 10px;

  &:before {
    --blockquote-border-color: rgb(30, 52, 76);
    --blockquote-border-thickness: 5px;
  }
}

.cm-s-obsidian span.cm-link {
  --link-external-color-set: rgb(216, 216, 216);
  color: var(--link-external-color-set) !important;
}

.multi-select-pill {
  padding-left: 3px;
    --pill-background: var(--tag-background);
  --pill-color-set: var(--tag-color);
  color: var(--pill-color-set) !important;
}

ins {
  color: rgb(64, 116, 200);
}

/* hide vault name */
.nav-folder.mod-root > .nav-folder-title {
  display: none;
}


/* Accented Side Headings
FROM: https://github.com/r-u-s-h-i-k-e-s-h/Obsidian-CSS-Snippets/blob/Collection/Snippets/Accented%20settings%20side%20headings.md
*/

.vertical-tab-header-group-title {
  color: var(--color-accent);
}

/* code block styling
FROM: https://github.com/r-u-s-h-i-k-e-s-h/Obsidian-CSS-Snippets/blob/Collection/Snippets/Code%20block%20styling%2002.md
*/
.markdown-rendered pre {
  border-left: solid;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  border-left: solid;
}

/* equally spaced dataview columns
author: sailKite
source: https://discord.com/channels/686053708261228577/707816848615407697/1154034583478751282
*/

.dv-equal-columns .dataview.table-view-table tr > * {
  width: calc(100% / var(--dv-col-count));
}
.dv-equal-columns .dataview.table-view-table {
  :has(> tr > :nth-child(2)) {
    --dv-col-count: 2;
  }
  :has(> tr > :nth-child(3)) {
    --dv-col-count: 3;
  }
  :has(> tr > :nth-child(4)) {
    --dv-col-count: 4;
  }
  :has(> tr > :nth-child(5)) {
    --dv-col-count: 5;
  }
  :has(> tr > :nth-child(6)) {
    --dv-col-count: 6;
  }
}

/*
rounded corners on table & full width tables
author: FireIsGood & sailKite
source: https://discord.com/channels/686053708261228577/702656734631821413/1112164539975340032
source2: https://discord.com/channels/686053708261228577/702656734631821413/1220374032583626892
*/
/* Obsidian v1.5.8 wider tables thing? */
body {
    --table-custom-width: 100%;
}
.markdown-rendered table {
    width: 100%;
}
.markdown-rendered div:has(> table:only-child) {
    width: var(--table-custom-width);
    margin-inline: calc((100% - var(--table-custom-width)) / 2);
}
.markdown-source-view.mod-cm6 .cm-embed-block.cm-table-widget {
    contain: unset !important;
    overflow: visible;
}
.markdown-source-view.mod-cm6 .cm-embed-block.cm-table-widget > .table-wrapper {
    width: calc(var(--table-custom-width) - var(--table-drag-handle-size));
    margin-inline: calc((100% - var(--table-custom-width)) / 2);
}

:root table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 100% !important;
}

th:first-of-type {
  border-top-left-radius: 8px;
  background-color: #3a3a3a !important;
  font-weight: bolder !important;
  color: #a0a0a0 !important;
}

th {
  background-color: #3a3a3a !important;
  font-weight: bolder !important;
  color: #a0a0a0 !important;
}

th:last-of-type {
  border-top-right-radius: 8px;
  background-color: #3a3a3a !important;
  font-weight: bolder !important;
  color: #a0a0a0 !important;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 8px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 8px;
}

:root :is(td, th) {
  border-width: 0 var(--table-border-width) var(--table-border-width) 0;
}

/* Changes the background behind the folders and files
FROM: https://github.com/r-u-s-h-i-k-e-s-h/Obsidian-CSS-Snippets/blob/Collection/Snippets/File%20explorer%20styling%20-%20Rainbow%20folder%20background.md
*/

[data-type="file-explorer"] > .nav-files-container > .mod-root > .nav-folder-children {
    & > .nav-folder {
        background-color: rgba(var(--folder-color), 0.4);
        --nav-item-color: black;
        --nav-item-color-hover: black;
        --nav-collapse-icon-color: black;
        --nav-item-color-active: rgb(53, 52, 52) !important;
        border-radius: 10px;
        mix-blend-mode: var(--callout-blend-mode);
        color: rgb(var(--callout-title-color));
    }
    & > .nav-folder:hover {
        /* filter: brightness(0.4); */
    }
    & > .nav-folder:nth-child(11n + 2) {
        --folder-color: var(--erin-lightred);
    }
    & > .nav-folder:nth-child(11n + 3) {
        --folder-color: var(--erin-lightpink);
    }
    & > .nav-folder:nth-child(11n + 4) {
        --folder-color: var(--erin-pink);
    }
    & > .nav-folder:nth-child(11n + 5) {
        --folder-color: var(--erin-lightpurple);
    }
    & > .nav-folder:nth-child(11n + 6) {
        --folder-color: var(--erin-lightblue);
    }
    & > .nav-folder:nth-child(11n + 7) {
        --folder-color: var(--erin-lightgreen);
    }
    & > .nav-folder:nth-child(11n + 8) {
        --folder-color: var(--erin-lightyellow);
    }
    & > .nav-folder:nth-child(11n + 9) {
        --folder-color: var(--erin-lightpurple);
    }
    & > .nav-folder:nth-child(11n + 10) {
        --folder-color: var(--erin-lightpink);
    }
    & > .nav-folder:nth-child(11n + 11) {
        --folder-color: var(--erin-pink);
    }
    & > .nav-folder:nth-child(11n + 12) {
        --folder-color: var(--erin-hotpink);
    }
    /* root files */
    & > .nav-file {
        --nav-item-color: black;
        --nav-item-color-hover: rgb(46, 45, 45);
        background-color: rgba(137, 137, 137, 0.493);
        border-radius: 10px;
    }
}


/*
author: Anubis, mahashemi (compiled by)
source: https://forum.obsidian.md/t/alternative-checkboxes-icon-bullets-copy-and-paste/35962/15

- https://github.com/AnubisNekhet/AnuPpuccin/blob/main/src/modules/Features/custom-checkboxes.scss
*/

/* Save this as a CSS Snippet alternativeCheckboxes.css */

input, li > input:checked, input:checked, li > p > input:checked, li > input, li > p > input {
    --checkbox-color-hover: var(--checkbox-color);
}

/* Checkbox important ! */

input[data-task="!"]:checked::after,
li[data-task="!"] > input:checked::after,
li[data-task="!"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M96 64c0-17.7-14.3-32-32-32S32 46.3 32 64V320c0 17.7 14.3 32 32 32s32-14.3 32-32V64zM64 480c22.1 0 40-17.9 40-40s-17.9-40-40-40s-40 17.9-40 40s17.9 40 40 40z'/%3E%3C/svg%3E");
  -webkit-mask-size: 20%;
}

input[data-task="!"]:checked::before,
li[data-task="!"] > input:checked::before,
li[data-task="!"] > p > input:checked::before {
  color: var(--checkbox-color);
  margin: 0 3px;
  position: absolute;
  left: calc(var(--checkbox-size) * 1);
  font-weight: bold;
}

input[data-task="!"]:checked,
li[data-task="!"] > input:checked,
li[data-task="!"] > p > input:checked {
  --checkbox-color-hover: var(--color-yellow);
  background-color: var(--color-yellow);
  border-color: transparent;

  /* border-radius: 50%; */
}

/* Checkbox Question ? */

input[data-task="?"]:checked,
li[data-task="?"] > input:checked,
li[data-task="?"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task="?"]:checked::after,
li[data-task="?"] > input:checked::after,
li[data-task="?"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM288 352c0 17.7-14.3 32-32 32s-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-orange);
  left: 0;
}

/* Checkbox cancelled - */

input[data-task="-"]:checked::after,
li[data-task="-"] > input:checked::after,
li[data-task="-"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z'/%3E%3C/svg%3E");
  -webkit-mask-size: 50%;
}

input[data-task="-"]:checked::before,
li[data-task="-"] > input:checked::before,
li[data-task="-"] > p > input:checked::before {
  color: var(--checkbox-color);
  margin: 0 3px;
  position: absolute;
  left: calc(var(--checkbox-size) * 1);
  font-weight: bold;
}

input[data-task="-"]:checked,
li[data-task="-"] > input:checked,
li[data-task="-"] > p > input:checked {
  --checkbox-color-hover: var(--color-red);
  background-color: var(--color-red);
  border-color: transparent;

  /* border-radius: 50%; */
}

/* Checkbox bookmark b */

input[data-task="b"]:checked,
li[data-task="b"] > input:checked,
li[data-task="b"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task="b"]:checked::after,
li[data-task="b"] > input:checked::after,
li[data-task="b"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-red);
  left: 0;
}

/* Checkbox Idea I */

input[data-task="I"]:checked,
li[data-task="I"] > input:checked,
li[data-task="I"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task="I"]:checked::after,
li[data-task="I"] > input:checked::after,
li[data-task="I"] > p > input:checked::after {
    --checkbox-marker-color: transparent;
  border: none;
  border-radius: 0;
  background-image: none;
  background-color: currentColor;
  -webkit-mask-size: var(--checkbox-icon);
  -webkit-mask-position: 50% 50%;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M272 384c9.6-31.9 29.5-59.1 49.2-86.2l0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4l0 0c19.8 27.1 39.7 54.4 49.2 86.2H272zM192 512c44.2 0 80-35.8 80-80V416H112v16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-yellow);
  left: 0;
}

/* Checkbox Win w */
input[data-task="w"]:checked,
li[data-task="w"] > input:checked,
li[data-task="w"] > p > input:checked {
    --checkbox-marker-color: transparent;
  border: none;
  border-radius: 0;
  background-image: none;
  background-color: currentColor;
  -webkit-mask-size: var(--checkbox-icon);
  -webkit-mask-position: 50% 50%;
  color: var(--color-purple);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M6 3a1 1 0 011-1h.01a1 1 0 010 2H7a1 1 0 01-1-1zm2 3a1 1 0 00-2 0v1a2 2 0 00-2 2v1a2 2 0 00-2 2v.683a3.7 3.7 0 011.055.485 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0A3.7 3.7 0 0118 12.683V12a2 2 0 00-2-2V9a2 2 0 00-2-2V6a1 1 0 10-2 0v1h-1V6a1 1 0 10-2 0v1H8V6zm10 8.868a3.704 3.704 0 01-4.055-.036 1.704 1.704 0 00-1.89 0 3.704 3.704 0 01-4.11 0 1.704 1.704 0 00-1.89 0A3.704 3.704 0 012 14.868V17a1 1 0 001 1h14a1 1 0 001-1v-2.132zM9 3a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zm3 0a1 1 0 011-1h.01a1 1 0 110 2H13a1 1 0 01-1-1z' clip-rule='evenodd' /%3E%3C/svg%3E");
}

/* Checkbox Key k */
input[data-task="k"]:checked,
li[data-task="k"] > input:checked,
li[data-task="k"] > p > input:checked {
  --checkbox-marker-color: transparent;
  border: none;
  border-radius: 0;
  background-image: none;
  background-color: currentColor;
  -webkit-mask-size: var(--checkbox-icon);
  -webkit-mask-position: 50% 50%;
  color: var(--color-yellow);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z' clip-rule='evenodd' /%3E%3C/svg%3E");
}

/* Checkbox Up u & Checkbox Down d */
input[data-task="u"]:checked,
li[data-task="u"] > input:checked,
li[data-task="u"] > p > input:checked {
    --checkbox-marker-color: transparent;
  border: none;
  border-radius: 0;
  background-image: none;
  background-color: currentColor;
  -webkit-mask-size: var(--checkbox-icon);
  -webkit-mask-position: 50% 50%;
  color: var(--color-green);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z' clip-rule='evenodd' /%3E%3C/svg%3E");
}
input[data-task="d"]:checked,
li[data-task="d"] > input:checked,
li[data-task="d"] > p > input:checked {
  --checkbox-marker-color: transparent;
  border: none;
  border-radius: 0;
  background-image: none;
  background-color: currentColor;
  -webkit-mask-size: var(--checkbox-icon);
  -webkit-mask-position: 50% 50%;
  color: var(--color-red);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12 13a1 1 0 100 2h5a1 1 0 001-1V9a1 1 0 10-2 0v2.586l-4.293-4.293a1 1 0 00-1.414 0L8 9.586 3.707 5.293a1 1 0 00-1.414 1.414l5 5a1 1 0 001.414 0L11 9.414 14.586 13H12z' clip-rule='evenodd' /%3E%3C/svg%3E");
}

/* Checkbox Pro p */

input[data-task="p"]:checked,
li[data-task="p"] > input:checked,
li[data-task="p"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task="p"]:checked::after,
li[data-task="p"] > input:checked::after,
li[data-task="p"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 25.3-19.5 46-44.3 47.9c7.7 8.5 12.3 19.8 12.3 32.1c0 23.4-16.8 42.9-38.9 47.1c4.4 7.2 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-green);
  left: 0;
}

/* Checkbox Con c */

input[data-task="c"]:checked,
li[data-task="c"] > input:checked,
li[data-task="c"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task="c"]:checked::after,
li[data-task="c"] > input:checked::after,
li[data-task="c"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M313.4 479.1c26-5.2 42.9-30.5 37.7-56.5l-2.3-11.4c-5.3-26.7-15.1-52.1-28.8-75.2H464c26.5 0 48-21.5 48-48c0-25.3-19.5-46-44.3-47.9c7.7-8.5 12.3-19.8 12.3-32.1c0-23.4-16.8-42.9-38.9-47.1c4.4-7.3 6.9-15.8 6.9-24.9c0-21.3-13.9-39.4-33.1-45.6c.7-3.3 1.1-6.8 1.1-10.4c0-26.5-21.5-48-48-48H294.5c-19 0-37.5 5.6-53.3 16.1L202.7 73.8C176 91.6 160 121.6 160 153.7V192v48 24.9c0 29.2 13.3 56.7 36 75l7.4 5.9c26.5 21.2 44.6 51 51.2 84.2l2.3 11.4c5.2 26 30.5 42.9 56.5 37.7zM32 320H96c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32H32C14.3 32 0 46.3 0 64V288c0 17.7 14.3 32 32 32z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-red);
  left: 0;
}

/* Checkbox Information i */

input[data-task="i"]:checked,
li[data-task="i"] > input:checked,
li[data-task="i"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task="i"]:checked::after,
li[data-task="i"] > input:checked::after,
li[data-task="i"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-144c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-blue);
  left: 0;
}

/* Checkbox Location l */

input[data-task="l"]:checked,
li[data-task="l"] > input:checked,
li[data-task="l"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task="l"]:checked::after,
li[data-task="l"] > input:checked::after,
li[data-task="l"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-purple);
  left: 0;
}

/* Checkbox Fire */
input[data-task="f"],
li[data-task="f"] > input:checked,
li[data-task="f"] > p > input:checked {
  --checkbox-marker-color: transparent;
  border: none;
  border-radius: 0;
  background-image: none;
  background-color: currentColor;
  -webkit-mask-size: var(--checkbox-icon);
  -webkit-mask-position: 50% 50%;
  color: var(--color-red);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z' clip-rule='evenodd' /%3E%3C/svg%3E");
}


/* Checkbox Star * */

input[data-task="*"]:checked,
li[data-task="*"] > input:checked,
li[data-task="*"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task="*"]:checked::after,
li[data-task="*"] > input:checked::after,
li[data-task="*"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-yellow);
  left: 0;
}

/* Checkbox Note n */

input[data-task="n"]:checked,
li[data-task="n"] > input:checked,
li[data-task="n"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task="n"]:checked::after,
li[data-task="n"] > input:checked::after,
li[data-task="n"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M32 32C32 14.3 46.3 0 64 0H320c17.7 0 32 14.3 32 32s-14.3 32-32 32H290.5l11.4 148.2c36.7 19.9 65.7 53.2 79.5 94.7l1 3c3.3 9.8 1.6 20.5-4.4 28.8s-15.7 13.3-26 13.3H32c-10.3 0-19.9-4.9-26-13.3s-7.7-19.1-4.4-28.8l1-3c13.8-41.5 42.8-74.8 79.5-94.7L93.5 64H64C46.3 64 32 49.7 32 32zM160 384h64v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V384z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-red);
  left: 0;
}

/* Checkbox Amount S */

input[data-task="S"]:checked,
li[data-task="S"] > input:checked,
li[data-task="S"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task="S"]:checked::after,
li[data-task="S"] > input:checked::after,
li[data-task="S"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M320 96H192L144.6 24.9C137.5 14.2 145.1 0 157.9 0H354.1c12.8 0 20.4 14.2 13.3 24.9L320 96zM192 128H320c3.8 2.5 8.1 5.3 13 8.4C389.7 172.7 512 250.9 512 416c0 53-43 96-96 96H96c-53 0-96-43-96-96C0 250.9 122.3 172.7 179 136.4l0 0 0 0c4.8-3.1 9.2-5.9 13-8.4zm84.1 96c0-11.1-9-20.1-20.1-20.1s-20.1 9-20.1 20.1v6c-5.6 1.2-10.9 2.9-15.9 5.1c-15 6.8-27.9 19.4-31.1 37.7c-1.8 10.2-.8 20 3.4 29c4.2 8.8 10.7 15 17.3 19.5c11.6 7.9 26.9 12.5 38.6 16l2.2 .7c13.9 4.2 23.4 7.4 29.3 11.7c2.5 1.8 3.4 3.2 3.8 4.1c.3 .8 .9 2.6 .2 6.7c-.6 3.5-2.5 6.4-8 8.8c-6.1 2.6-16 3.9-28.8 1.9c-6-1-16.7-4.6-26.2-7.9l0 0 0 0 0 0 0 0c-2.2-.8-4.3-1.5-6.3-2.1c-10.5-3.5-21.8 2.2-25.3 12.7s2.2 21.8 12.7 25.3c1.2 .4 2.7 .9 4.4 1.5c7.9 2.7 20.3 6.9 29.8 9.1V416c0 11.1 9 20.1 20.1 20.1s20.1-9 20.1-20.1v-5.5c5.4-1 10.5-2.5 15.4-4.6c15.7-6.7 28.4-19.7 31.6-38.7c1.8-10.4 1-20.3-3-29.4c-3.9-9-10.2-15.6-16.9-20.5c-12.2-8.8-28.3-13.7-40.4-17.4l-.8-.2c-14.2-4.3-23.8-7.3-29.9-11.4c-2.6-1.8-3.4-3-3.6-3.5c-.2-.3-.7-1.6-.1-5c.3-1.9 1.9-5.2 8.2-8.1c6.4-2.9 16.4-4.5 28.6-2.6c4.3 .7 17.9 3.3 21.7 4.3c10.7 2.8 21.6-3.5 24.5-14.2s-3.5-21.6-14.2-24.5c-4.4-1.2-14.4-3.2-21-4.4V224z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-green);
  left: 0;
}

/* Checkbox In Progress / */

input[data-task="/"]:checked,
li[data-task="/"] > input:checked,
li[data-task="/"] > p > input:checked {
  --checkbox-color: var(--color-base-50);
  --checkbox-color-hover: var(--color-base-50);
  border-width: 1px;
}

input[data-task="/"]:checked::after,
li[data-task="/"] > input:checked::after,
li[data-task="/"] > p > input:checked::after {
  background-color: transparent;
}

/* Checkbox Scheduled < */

input[data-task="<"]:checked,
li[data-task="<"] > input:checked,
li[data-task="<"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task="<"]:checked::after,
li[data-task="<"] > input:checked::after,
li[data-task="<"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M96 32V64H48C21.5 64 0 85.5 0 112v48H448V112c0-26.5-21.5-48-48-48H352V32c0-17.7-14.3-32-32-32s-32 14.3-32 32V64H160V32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192H0V464c0 26.5 21.5 48 48 48H400c26.5 0 48-21.5 48-48V192z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-cyan);
  left: 0;
}

/* Checkbox Rescheduled > */

input[data-task=">"]:checked,
li[data-task=">"] > input:checked,
li[data-task=">"] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task=">"]:checked::after,
li[data-task=">"] > input:checked::after,
li[data-task=">"] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-blue);
  left: 0;
}

/* Checkbox Quote " */
input[data-task='"']:checked,
li[data-task='"'] > input:checked,
li[data-task='"'] > p > input:checked {
  --checkbox-color: transparent;
  --checkbox-color-hover: transparent;
  border-width: 0;
}

input[data-task='"']:checked::after,
li[data-task='"'] > input:checked::after,
li[data-task='"'] > p > input:checked::after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  background-color: var(--color-base-50);
  left: 0;
}

/* priority checkboxes
FROM: https://github.com/r-u-s-h-i-k-e-s-h/Obsidian-CSS-Snippets/blob/Collection/Snippets/Checkboxes%20-%20Priority%20checkboxes.md
*/

.HyperMD-list-line:has(.cm-tag-p1) .task-list-label {
  --checkbox-border-color: var(--erin-red);
}
.task-list-item:has([href="#p1"]) {
  --checkbox-border-color: var(--erin-red);
}

.HyperMD-list-line:has(.cm-tag-p2) .task-list-label {
  --checkbox-border-color: var(--erin-gold);
}
.task-list-item:has([href="#p2"]) {
  --checkbox-border-color: var(--erin-gold);
}

.HyperMD-list-line:has(.cm-tag-p3) .task-list-label {
  --checkbox-border-color: #1b95f1;
}
.task-list-item:has([href="#p3"]) {
  --checkbox-border-color: #1895f5;
}

/* All of my custom callouts */
/* Author Callout
FROM: https://github.com/r-u-s-h-i-k-e-s-h/Obsidian-CSS-Snippets/blob/Collection/Snippets/Author%20callout.md
*/
.callout[data-callout="author"] {
  display: flex;
  flex-direction: column-reverse;
  --callout-icon: user;
  --callout-color: var(--erin-blue);
}

.callout[data-callout="author"] > .callout-title {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  font-style: italic;
}

.callout[data-callout="author"] .callout-content p {
  margin-top: 0;
}

/* New Default Callout Colors */
.callout[data-callout="quote"],
.callout[data-callout="cite"] {
  --callout-color: var(--erin-lightpink);
  --callout-icon: lucide-quote;
}

.callout[data-callout="archive"] {
  --callout-color: var(--erin-green);
  --callout-icon: lucide-archive;
}


.callout[data-callout="note"] {
  --callout-color: var(--erin-brown);
  --callout-icon: lucide-chevrons-right;
}

.callout[data-callout="calendar"] {
  --callout-color: var(--erin-lightgrey);
}

.callout[data-callout="camera"] {
  --callout-color: var(--erin-blue-three);
}

.callout[data-callout="bookmark"] {
  --callout-color: var(--erin-lightpurple);
  --callout-icon: lucide-album;
}

.callout[data-callout="key"] {
  --callout-color: var(--erin-yellow);
  --callout-icon: lucide-key;
}

.callout[data-callout="cat"] {
  --callout-color: var(--erin-tan);
    --callout-icon: lucide-cat;
}

.callout[data-callout="dog"] {
  --callout-color: var(--erin-tan);
    --callout-icon: lucide-dog;
}

.callout[data-callout="infinity"] {
  --callout-color: var(--erin-hotpink);
}

.callout[data-callout="bad"], .callout[data-callout="down"] {
  --callout-color: var(--erin-red);
  --callout-icon: lucide-arrow-down;
}

.callout[data-callout="good"], .callout[data-callout="up"] {
  --callout-color: var(--erin-green);
    --callout-icon: lucide-arrow-up;
}

.callout[data-callout="caution"], .callout[data-callout="warning"] {
  --callout-color: var(--erin-red);
}

.callout[data-callout="attention"] {
  --callout-color: var(--erin-yellow);
}

.callout[data-callout="note"],
.callout[data-callout="quote"],
.callout[data-callout="cite"] {
  --callout-color: var(--erin-teal-two);
}

.callout[data-callout="abstract"],
.callout[data-callout="summary"],
.callout[data-callout="tldr"],
.callout[data-callout="seealso"] {
  --callout-color: var(--erin-teal-two);
}

.callout[data-callout="info"],
.callout[data-callout="todo"],
.callout[data-callout="tip"],
.callout[data-callout="hint"],
.callout[data-callout="important"] {
  --callout-color: var(--erin-tan-two);
}

.callout[data-callout="success"],
.callout[data-callout="check"],
.callout[data-callout="done"],
.callout[data-callout="question"],
.callout[data-callout="help"],
.callout[data-callout="faq"] {
  --callout-color: var(--erin-lightgreen-two);
}

.callout[data-callout="failure"],
.callout[data-callout="fail"],
.callout[data-callout="missing"] {
  --callout-color: var(--erin-orange-bright);
}

.callout[data-callout="danger"],
.callout[data-callout="error"],
.callout[data-callout="bug"] {
  --callout-color: var(--erin-red-two);
}

.callout[data-callout="frame"] {
  --callout-color: var(--erin-tan-two);
  --callout-icon: lucide-frame;
}

.callout[data-callout="plus"] {
  --callout-icon: lucide-plus;
}

.callout[data-callout="award"] {
  --callout-color: 102, 190, 148;
  --callout-icon: lucide-award;
}

.callout[data-callout="code"] {
  --callout-color: var(--erin-light-blue);
  --callout-icon: lucide-file-json;
}

.callout[data-callout="code-1"] {
  --callout-color: var(--erin-bright-pink);
  --callout-icon: lucide-code;
}

.callout[data-callout="code-2"] {
  --callout-color: var(--erin-bright-yellow);
  --callout-icon: lucide-code-2;
}

.callout[data-callout="binary"] {
  --callout-color: var(--erin-bright-blue);
  --callout-icon: lucide-binary;
}

.callout[data-callout="terminal"] {
  --callout-color: var(--erin-white);
  --callout-icon: lucide-terminal;
}

.callout[data-callout="git"] {
  --callout-color: var(--erin-light-purple);
  --callout-icon: lucide-git-branch;
}

.callout[data-callout="plus"] {
  --callout-color: var(--erin-lightgreen);
}

/* Info callouts */
.callout[data-callout="info"] {
  --callout-color: var(--erin-teal);
}

.callout[data-callout="info-darkr"] {
  --callout-color: var(--erin-dark-red);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkrp"] {
  --callout-color: var(--erin-dark-pink-two);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkpi"] {
  --callout-color: var(--erin-dark-pink);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkpip"] {
  --callout-color: var(--erin-dark-purple);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkp"] {
  --callout-color: var(--erin-dark-purple-two);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkb"] {
  --callout-color: var(--erin-dark-blue);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkbg"] {
  --callout-color: var(--erin-dark-bluegreen);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkg"] {
  --callout-color: var(--erin-dark-green);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkyg"] {
  --callout-color: var(--erin-dark-yellowgreen);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darko"] {
  --callout-color: var(--erin-darkorange);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-lightr"] {
  --callout-color: var(--erin-lightred);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-lighto"] {
  --callout-color: var(--erin-light-orange);
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lighty"] {
  --callout-color: var(--erin-light-yellow);
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lightg"] {
  --callout-color: var(--erin-lightgreen-three);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-lightbg"] {
  --callout-color: var(--erin-light-bluegreen);
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lightb"] {
  --callout-color: var(--erin-lightblue-two);
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lightdb"] {
  --callout-color: var(--erin-light-darkblue);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-lightpp"] {
  --callout-color: var(--erin-lightpinkpurple);
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lightpi"] {
  --callout-color: var(--erin-lightpink-two);
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lightrp"] {
  --callout-color: var(--erin-lightredpink);
  --callout-icon: lucide-info;
}

.callout[data-callout="info-lightbr"] {
  --callout-color: var(--erin-lightbluered);
  --callout-icon: lucide-info;
}

.callout[data-callout="infinity"] {
  --callout-color: var(--erin-lightblue-three);
  --callout-icon: lucide-infinity;
}

/* Film callouts */
.callout[data-callout="film"] {
  --callout-icon: lucide-film;
}

.callout[data-callout="film-lightpurple"] {
  background-color: var(--erin-tanwhite);
  --callout-color: var(212, 214, 213);
  --callout-icon: lucide-film;
}

.callout[data-callout="film-red"] {
  --callout-color: var(--erin-red-two);
  --callout-icon: lucide-film;
}

.callout[data-callout="film-orange"] {
  --callout-color: var(--erin-orange-two);
  --callout-icon: lucide-film;
}

.callout[data-callout="film-purple"] {
  --callout-color: var(--erin-purple-two);
  --callout-icon: lucide-film;
}

.callout[data-callout="film-lighto1"] {
  --callout-color: var(--erin-lightorange);
  --callout-icon: lucide-film;
}

.callout[data-callout="film-lightb1"] {
  --callout-color: 229, 192, 154;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-pale-brown"] {
  --callout-color: 250, 242, 214;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-blue"] {
  --callout-color: 108, 153, 187;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-darkteal"] {
  --callout-color: 69, 112, 118;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-gteal"] {
  --callout-color: 131, 165, 152;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-paleteal"] {
  --callout-color: 157, 202, 208;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-gteal"] {
  --callout-color: 131, 165, 152;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-yellow"] {
  --callout-color: 168, 195, 115;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-pink"] {
  --callout-color: 234, 111, 205;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-darkb1"] {
  --callout-color: 13, 110, 253;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-lightr1"] {
  --callout-color: 235, 141, 141;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-lightpink"] {
  --callout-color: 226, 167, 227;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-lightblue"] {
  --callout-color: 28, 176, 209;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-teal"] {
  --callout-color: 99, 149, 156;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-green"] {
  --callout-color: 1, 88, 1;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-darkteal"] {
  --callout-color: 69, 112, 118;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-tan"] {
  --callout-color: 189, 174, 147;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-greenish"] {
  --callout-color: 168, 195, 115;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-yellow"] {
  --callout-color: 222, 210, 98;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-darko"] {
  --callout-color: 213, 118, 52;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-darkred"] {
  --callout-color: 208, 66, 85;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-purple1"] {

  --callout-color: 147, 134, 200;
  --callout-icon: lucide-film;
}

.callout[data-callout="info-darkr"] {
  --callout-color: 196, 73, 73;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkrp"] {
  --callout-color: 196, 73, 126;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkpi"] {
  --callout-color: 196, 73, 194;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkpip"] {
  --callout-color: 160, 73, 196;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkp"] {
  --callout-color: 116, 73, 196;
  --callout-icon: lucide-info;
}

.callout[data-callout="film-darkb"] {
  --callout-color: 73, 145, 196;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-darkbg"] {
  --callout-color: 73, 196, 184;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-darkg"] {
  --callout-color: 73, 196, 111;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-darkyg"] {
  --callout-color: 185, 196, 73;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-darko"] {
  --callout-color: 196, 130, 73;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-lightr"] {
  --callout-color: 251, 200, 200;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-lighto"] {
  --callout-color: 251, 228, 200;
  --callout-icon: lucide-film;
}
.callout[data-callout="film-lighty"] {
  --callout-color: 251, 251, 200;
  --callout-icon: lucide-film;
}
.callout[data-callout="film-lightg"] {
  --callout-color: 222, 251, 200;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-lightbg"] {
  --callout-color: 200, 251, 238;
  --callout-icon: lucide-film;
}
.callout[data-callout="film-lightb"] {
  --callout-color: 200, 241, 251;
  --callout-icon: lucide-film;
}
.callout[data-callout="film-lightdb"] {
  --callout-color: 200, 202, 251;
  --callout-icon: lucide-film;
}

.callout[data-callout="film-lightpp"] {
  --callout-color: 223, 200, 251;
  --callout-icon: lucide-film;
}
.callout[data-callout="film-lightpi"] {
  --callout-color: 249, 200, 251;
  --callout-icon: lucide-film;
}
.callout[data-callout="film-lightrp"] {
  --callout-color: 251, 200, 230;
  --callout-icon: lucide-film;
}


/*
Display sync icon on mobile while drawer is closed.

Numbers may need to be tweaked for each device.

Original version kindly provided by sailKite. "no warranties for damages, this is gonna be scuffed" https://discord.com/channels/686053708261228577/702656734631821413/1078468316592615514
*/

:is(.is-mobile, .is-phone) .workspace:not(:has(.workspace-drawer-backdrop)) .workspace-drawer.mod-right {
    display: flex !important;
    overflow: visible;
    left: 100%;
}
:is(.is-mobile, .is-phone) .workspace:not(:has(.workspace-drawer-backdrop)) .workspace-drawer.mod-right .workspace-drawer-inner {
    overflow: visible;
}
:is(.is-mobile) .workspace:not(:has(.workspace-drawer-backdrop)) .sync-status-icon {
    position: absolute;
    left: calc(-1 * 52px); /*74*/
    top: 52px;
}
:is(.is-phone) .workspace:not(:has(.workspace-drawer-backdrop)) .sync-status-icon {
	  left: calc(-1 * 46px); /*74*/
    top: 12px;
}

/* Move 3-dot menu to make room for Sync icon. (Courtesy of jijo https://forum.obsidian.md/t/feature-make-sync-icon-always-visible/31780/12) */
:is(.is-mobile) .workspace:not(:has(.workspace-drawer-backdrop)) .view-actions {
  padding-right: 32px;
}
:is(.is-phone) .workspace:not(:has(.workspace-drawer-backdrop)) .view-actions {
  padding-right: 23px;
}

/* footnotes keep brackets in Live Preview maybe */
.cm-line .cm-footref.cm-hmd-barelink:has(+ .cm-widgetBuffer):is(.cm-widgetBuffer + *) {
    &::before {
        content: "[";
        display: inline-block;
    }
    &::after {
        content:"]";
        display: inline-block;
    }
}