/* Author Callout
FROM: https://github.com/r-u-s-h-i-k-e-s-h/Obsidian-CSS-Snippets/blob/Collection/Snippets/Author%20callout.md
*/
.callout[data-callout="author"] {
  display: flex;
  flex-direction: column-reverse;
  --callout-icon: user;
}

.callout[data-callout="author"] > .callout-title {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  font-style: italic;
}

.callout[data-callout="author"] .callout-content p {
  margin-top: 0;
}

/* New Default colored callouts
/* Only icons have changed on these.
*/
.callout[data-callout="note"] {
  --callout-icon: lucide-chevrons-right;
}

.callout[data-callout="note2"] {
  --callout-icon: lucide-notebook;
}

.callout[data-callout="quote"],
.callout[data-callout="cite"] {
  --callout-icon: lucide-quote;
}

.callout[data-callout="archive"] {
  --callout-icon: lucide-archive;
}

.callout[data-callout="warning"],
.callout[data-callout="caution"],
.callout[data-callout="attention"] {
  --callout-icon: lucide-alert-triangle;
}

.callout[data-callout="bookmark"] {
  --callout-icon: lucide-album;
}

.callout[data-callout="award"] {
  --callout-icon: lucide-award;
}

.callout[data-callout="frame"] {
  --callout-icon: lucide-frame;
}

.callout[data-callout="plus"] {
  --callout-icon: lucide-plus;
}

.callout[data-callout="note3"] {
  --callout-color: 175, 142, 221;
  --callout-icon: asterisk;
}

/* ----------------------------------------------------------------------
Different colors on callouts
------------------------------------------------------------------------- */
.callout[data-callout="frame"] {
  --callout-color: 182, 172, 153;
}

.callout[data-callout="award"] {
  --callout-color: 102, 190, 148;
}

.callout[data-callout="warning"] {
  --callout-color: 241, 112, 112;
}

.callout[data-callout="caution"] {
  --callout-color: 202, 77, 61;
}

.callout[data-callout="attention"] {
  --callout-color: 232, 190, 60;
}

.callout[data-callout="note2"],
.callout[data-callout="quote"],
.callout[data-callout="cite"] {
  --callout-color: 150, 210, 218;
}

.callout[data-callout="abstract"],
.callout[data-callout="summary"],
.callout[data-callout="tldr"] {
  --callout-color: 196, 231, 236;
}

.callout[data-callout="hint"] {
  --callout-icon: lucide-square-asterisk;
  --callout-color: 99, 193, 233;
}

.callout[data-callout="tip"] {
  --callout-icon: plus-square;
  --callout-color: 237, 167, 232;
}

.callout[data-callout="important"] {
  --callout-icon: alert-triangle;
  --callout-color: 243, 123, 93;
}

.callout[data-callout="info"],
.callout[data-callout="todo"] {
  --callout-color: 189, 174, 147;
}

.callout[data-callout="success"],
.callout[data-callout="check"],
.callout[data-callout="done"] {
  --callout-color: 68, 223, 101;
}

.callout[data-callout="question"] {
  --callout-color: 43, 205, 226;
}

.callout[data-callout="help"],
.callout[data-callout="faq"] {
  --callout-color: 186, 179, 245;
}


.callout[data-callout="failure"],
.callout[data-callout="fail"],
.callout[data-callout="missing"] {
  --callout-color: 213, 118, 52;
}

.callout[data-callout="danger"],
.callout[data-callout="error"],
.callout[data-callout="bug"] {
  --callout-color: 208, 66, 85;
}

.callout[data-callout="example"] {
  --callout-color: 147, 134, 200;
}
.callout[data-callout="up"] {
  --callout-color: 191, 231, 122;
  --callout-icon: lucide-arrow-up;
}

.callout[data-callout="down"] {
  --callout-color: 236, 158, 158;
  --callout-icon: lucide-arrow-down;
}

.callout[data-callout="dog"] {
  --callout-color: 229, 192, 154;
  --callout-icon: lucide-dog;
}

.callout[data-callout="cat"] {
  --callout-color: 235, 168, 102;
  --callout-icon: lucide-cat;
}

.callout[data-callout="code"] {
  --callout-color: 36, 185, 240;
  --callout-icon: lucide-file-json;
}

.callout[data-callout="code-1"] {
  --callout-color: 243, 165, 226;
  --callout-icon: lucide-code;
}

.callout[data-callout="code-2"] {
  --callout-color: 230, 230, 100;
  --callout-icon: lucide-code-2;
}

.callout[data-callout="binary"] {
  --callout-color: 55, 217, 238;
  --callout-icon: lucide-binary;
}

.callout[data-callout="terminal"] {
  --callout-color: 251, 248, 245;
  --callout-icon: lucide-terminal;
}

.callout[data-callout="git"] {
  --callout-color: 191, 199, 251;
  --callout-icon: lucide-git-branch;
}

.callout[data-callout="key"] {
  --callout-color: 191, 251, 251;
  --callout-icon: lucide-key;
}

.callout[data-callout="check"] {
  --callout-color: 125, 190, 60;
  --callout-icon: lucide-check-check;
}

.callout[data-callout="camera"] {
  --callout-color: 191, 251, 231;
  --callout-icon: lucide-camera;
}

.callout[data-callout="calendar"] {
  --callout-color: 212, 214, 213;
  --callout-icon: lucide-calendar;
}


/* ---------------------------------------------------------------------
Info Callout Colors & icons
------------------------------------------------------------------------ */
.callout[data-callout="info-darkr"] {
  /*
  #c44949
  */
  --callout-color: 196, 73, 73;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkrp"] {
  /*
  #c4497e
  */
  --callout-color: 196, 73, 126;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkpi"] {
  /*
  #c449c2
  */
  --callout-color: 196, 73, 194;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkpip"] {
  /*
  #a049c4
  */
  --callout-color: 160, 73, 196;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkp"] {
  /*
  #7449c4
  */
  --callout-color: 116, 73, 196;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkb"] {
  /*
  #4991c4
  */
  --callout-color: 73, 145, 196;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkbg"] {
  /*
  #49c4b8
  */
  --callout-color: 73, 196, 184;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkg"] {
  /*
  #49c46f
  */
  --callout-color: 73, 196, 111;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darkyg"] {
  /*
  #b9c449
  */
  --callout-color: 185, 196, 73;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-darko"] {
  /*
  #c48249
  */
  --callout-color: 196, 130, 73;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-lightr"] {
  /*
  #fbc8c8
  */
  --callout-color: 251, 200, 200;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-lighto"] {
  /*
  #fbe4c8
  */
  --callout-color: 251, 228, 200;
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lighty"] {
  /*
  #fbfbc8
  */
  --callout-color: 251, 251, 200;
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lightg"] {
  /*
  #defbc8
  */
  --callout-color: 222, 251, 200;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-lightbg"] {
  /*
  #c8fbee
  */
  --callout-color: 200, 251, 238;
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lightb"] {
  /*
  #c8f1fb
  */
  --callout-color: 200, 241, 251;
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lightdb"] {
  /*
  #c8cafb
  */
  --callout-color: 200, 202, 251;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-lightpp"] {
  /*
  #dfc8fb
  */
  --callout-color: 223, 200, 251;
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lightpi"] {
  /*
  #f9c8fb
  */
  --callout-color: 249, 200, 251;
  --callout-icon: lucide-info;
}
.callout[data-callout="info-lightrp"] {
  /*
  #fbc8e6
  */
  --callout-color: 251, 200, 230;
  --callout-icon: lucide-info;
}

.callout[data-callout="info-lightbr"] {
  /*
  #E5C09A
  */
  --callout-color: 229, 192, 154;
  --callout-icon: lucide-info;
}

.callout[data-callout="infinity"] {
  /*
  #90C89A
  */
  --callout-color: 144, 200, 238;
  --callout-icon: lucide-infinity;
}