/* File Explorer Dividers  */
.nav-folder:has(> :is(
        [data-path="90-Attachments"],
        [data-path="01 - January"],
				[data-path="Clipper"],
    )), .nav-file:has(> :is([data-path="Artificial Intelligence.md"])) {
	position: relative;

	&::before {
		content: "";
		--padding-x: 10px;
		margin-inline-start: calc(24px - var(--padding-x));
		padding: 0 var(--padding-x);
		background-color: var(--background-secondary);
		/*background-color: #262626;*/
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: calc(0.5em * var(--line-height-tight));
		width: 100%; /* change for something smaller if you don't want the divider to span full length */
		height: 0;
		border-top: 1px solid currentColor;
		z-index: -1;
	}
}

.nav-folder:has(> [data-path="90-Attachments"])::before { content: "📦 Storage 📦"; }
.nav-folder:has(> [data-path="01 - January"])::before { content: "♡ Journals ♡"; }
.nav-folder:has(> [data-path="Clipper"])::before { content: "🌿 Learning 🌿"; }
.nav-file:has(> [data-path="Artificial Intelligence.md"])::before { content: "☆ Misc ☆"; }

/* files */
.nav-file:has(> :is(
        [data-path="Today.md"]
    )) {
	position: relative;

	&::before {
		content: "";
		--padding-x: 10px;
		margin-inline-start: calc(24px - var(--padding-x));
		padding: 0 var(--padding-x);
		background-color: var(--background-secondary);
		/*background-color: #262626;*/
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: calc(0.5em * var(--line-height-tight));
		width: 100%; /* change for something smaller if you don't want the divider to span full length */
		height: 0;
		border-top: 1px solid currentColor;
		z-index: -1;
	}
}

.nav-file:has(> [data-path="Today.md"])::before { content: "✓ Tasks ✓"; }