.kanban-plugin__markdown-preview-view:has(.callout[data-callout="left"]) {
    display: grid;
    grid-template-columns: 100px auto;
    border: none !important;
}


.callout[data-callout="left"] {
    --callout-content-padding: 0;
    --callout-color: transparent;
    text-align: center;
    width: 90px;
    grid-row: span 5;
    margin: 0;
    border: none !important;
}

.callout[data-callout="left"] .callout-title {
    display: none;
    border: none !important;
}

.kanban-plugin__markdown-preview-view:has(.callout[data-callout="left"]) blockquote {
    grid-column: span 2;
    background-color: transparent;
    font-size: 0.9em;
    border: none;
    max-height: 70px;
    overflow-y: scroll;
    margin-left: -4px;
    margin-right: -4px;
    border: none !important;
}

.kanban-plugin__markdown-preview-view:has(.callout[data-callout="left"]) blockquote ~ * {
    grid-column: span 2;
    border: none !important;
}

.callout[data-callout="left"] p {
    margin: 0;
    border: none !important;
}