/* Do I need this?
 Banner Fixes

body.minimal-theme .obsidian-banner-wrapper.with-banner:not(.in-internal-embed) {
	width: calc(100% + 2 * var(--size-4-12)); 
	margin: calc(-1 * var(--size-4-2)) calc(-1 * var(--size-4-12));
	margin-bottom: var(--size-4-2);
}

body.minimal-theme .banner-header.with-banner {
    padding: 0 var(--size-4-12);
} */

/* Kanban left aligned and wider */
body .kanban-plugin__board>div {
	margin-inline-start: 0;
}

.kanban-plugin {
	--lane-width: 400px;
}

body .kanban-plugin__item-wrapper {
	margin-top: 10px;
}

/* Auto-HIde sidebar tabs */
.workspace-tabs:not(.mod-top) .workspace-tab-header-container,
.workspace-tabs:not(.mod-top) .workspace-tab-header-container * {
	box-shadow: none !important;
	outline: none !important;
}

.workspace-tabs:not(.mod-top) .workspace-tab-header-container * {
	background-color: transparent !important;  /* Ensures all children have transparent background */
}

.workspace-tabs:not(.mod-top) .workspace-tab-header-container .workspace-tab-header-inner-icon,
.workspace-tabs:not(.mod-top) .workspace-tab-header.is-active .workspace-tab-header-inner,
.workspace-tabs:not(.mod-top) .workspace-tab-header-container .workspace-tab-header-inner::before {
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.workspace-tabs:not(.mod-top) .workspace-tab-header-container:hover .workspace-tab-header-inner-icon,
.workspace-tabs:not(.mod-top) .workspace-tab-header.is-active .workspace-tab-header-inner,
.workspace-tabs:not(.mod-top) .workspace-tab-header-container:hover .workspace-tab-header-inner::before {
	opacity: 1;
	transform: translateY(0);
}

.workspace-tabs:not(.mod-top) .workspace-tab-header-container {
	height: 10px;
	transition: height 200ms ease-in;
	position: relative;
}

.workspace-tabs:not(.mod-top) .workspace-tab-header-container:hover {
	height: var(--header-height);
	background-color: var(--background) !important;
}

.workspace-tabs:not(.mod-top) .workspace-tab-header-container::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 100%;
	position: absolute;
	z-index: 1;
}

/* File Explorer Dividers  */
.nav-folder:has(> :is(
        [data-path="97-Attachments"],
        [data-path="Contacts"],
        [data-path="KB Shortcuts"]
    )) {
	position: relative;

	&::before {
		content: "";
		--padding-x: 10px;
		margin-inline-start: calc(24px - var(--padding-x));
		padding: 0 var(--padding-x);
		/*background-color: var(--background-primary);*/
		background-color: #262626;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: calc(0.5em * var(--line-height-tight));
		width: 100%; /* change for something smaller if you don't want the divider to span full length */
		height: 0;
		border-top: 1px solid currentColor;
		z-index: -1;
	}
}

.nav-folder:has(> [data-path="97-Attachments"])::before { content: "📦 Storage 📦"; }
.nav-folder:has(> [data-path="Contacts"])::before { content: "♡ Life ♡"; }
.nav-folder:has(> [data-path="KB Shortcuts"])::before { content: "☆ Misc ☆"; }

/* files */
.nav-file:has(> :is(
        [data-path="Today.md"]
    )) {
	position: relative;

	&::before {
		content: "";
		--padding-x: 10px;
		margin-inline-start: calc(24px - var(--padding-x));
		padding: 0 var(--padding-x);
		/*background-color: var(--background-primary);*/
		background-color: #262626;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: calc(0.5em * var(--line-height-tight));
		width: 100%; /* change for something smaller if you don't want the divider to span full length */
		height: 0;
		border-top: 1px solid currentColor;
		z-index: -1;
	}
}

.nav-file:has(> [data-path="Today.md"])::before { content: "✓ Tasks ✓"; }
/* Datacore CSS Snippet */
.icon {
	transform: translateY(13%);

	svg {
		width: 16px;
		height: 16px;
		fill: none;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}

.icon-in-link {
	transform: translateY(20%);
	margin-right: var(--size-2-2);
	display: inline-flex;

	svg {
		width: 16px;
		height: 16px;
		fill: none;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}
